<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PopupBackgroundColor" value="#EEE"/>
		<add key="KeyboardButtonColor" value="#FFF"/>
		<add key="ToggleKeyboardButtonColor" value="#658EFF"/>
		<add key="MouseOverKeyboardButtonColor" value="#0F0"/>
	</appSettings>
</configuration>